.restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.restaurant p {
  margin: 0;
}
.restaurant .time {
  color: #f4f4f4;
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
  border-color: transparent;
  border-style: solid;
  font-family: 'Heghnar';
  font-style: italic;
}

.restaurant .postProduction {
  font-size: 20px;
  color: #f4f4f4;
  font-weight: 300;
  font-family: 'Noto Serif Armenian', Arial, sans-serif;
  text-transform: uppercase;
}

.restaurant .place {
  font-size: 20px;
  color: #f4f4f4;
  font-weight: 700;
  font-family: 'Noto Serif Armenian', Arial, sans-serif;
  text-align: center;
}

.restaurant .adress {
  font-size: 16px;
  color: #f4f4f4;
  text-align: center;
}

.restaurant button {
  width: 186px;
  height: 40px;
  border-radius: 35px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid #f4f4f4;
  background-color: rgba(128, 128, 128, 0.3);
}

.restaurant button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.restaurant button:focus-visible {
  outline: 3px solid #fff;
  outline-offset: 4px;
}
